doctype html
html
  head
    // Standard Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    // Site Properities
    title 社社相关
    link(href='http://fonts.useso.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/semantic.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/homepage.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/topbar.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/clubManger.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/newEvent.css')
    script(src='/javascripts/jquery-1.11.2.js')
    script(src='/javascripts/semantic.js')
  body#admin
    .following.bar.light.fixed
      .insideTopBar
        .column
          .ui.logo.shape
            .sides
              .ui.side.active
                img.ui.image(src='')
          if user
            #topButton(calss='ui right float')
              #second.ui.left.floated.secondary.menu
                .inverted.secondary.pointing.ui.menu
                  a.item(href='/logout') logout

          else
            #topButton(calss='ui right float')
              #second.ui.left.floated.secondary.menu
                .inverted.secondary.pointing.ui.menu
                  a.item(href='/signup') 注册
              .ui.right.floated.secondary.menu
                .inverted.secondary.pointing.ui.menu
                  a.item(href='/login') 登录
          .bar.ui.large.secondary.network.menu.center
            a#fontLogo.center
              img(src='/images/fontlogo.png', alt='社社相关', height='42', width='120')
    .mainpage
      .bar.mainpage
        .insideMainpageBar
          .ui.two.column.center.aligned.stackable.divided.grid
      .clubManger
        .ui.grid
          .left.floated.twelve.wide.column
            #newLeft.ui.page.grid.stackable.relaxed.feature.segment
              .row
                .column
                  h1.center.aligned.ui.header
                    | 新建社团
              .row
                .right.floated.six.wide.column
                  p 上传图片
                  img.ui.massive.bordered.image(src='')
                  input#updateImg(type='file', name='uploadFile')
                .ten.wide.column
                  #form_content.fr-widget.fr-grid.fr_content
                    #newLeftColumn1.column
                      .ui.form.segment
                        form.createclubForm(action='/createclub', method='post', enctype="multipart/form-data")
                          .field
                            label 社团名称
                            .ui.left.icon.input
                              input(required='required', type='text', name='name')
                          .field
                            label 社团简介
                            .ui.left.icon.input
                              input(required='required', type='text', name='description')
                          .field
                            label 联系电话
                            .ui.left.icon.input
                              input(required='required', type='text', name='phone')
                          .field
                            label email
                            .ui.left.icon.input
                              input(required='required', type='text', name='email')
                          .field
                            label 管理员账号
                            .ui.left.icon.input
                              input(required='required', type='text', name='username')
                          .field
                            label 密码
                            .ui.left.icon.input
                              input(required='required', type='password', name='password')

                          .ui.inverted.section.divider
                          .row
                            #button.ui.basic.animated.button.button
                              .visible.content 新建社团
                              .hidden.content
                                i.right.arrow.icon
                                input(type='submit', value='新建社团')


