<!DOCTYPE html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Site Properities -->
    <title>社社相关</title>
    <link href='http://fonts.useso.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/semantic.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/homepage.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/topbar.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/clubManger.css">
    <script src="../public/javascripts/jquery-1.11.2.js"></script>
    <script src="../public/javascripts/semantic.js"></script>
</head>

<body id="home">
    <div class="following bar light fixed">
        <div class="insideTopBar">
            <div class="column">
                <div class="ui logo shape">
                    <div class="sides">
                        <div class="ui side active">
                            <img class="ui image" src="">
                        </div>
                    </div>
                </div>
                <div calss="ui right float" id="topButton">
                    <div class="ui left floated secondary menu" id="second">
                        <div class="inverted secondary pointing ui menu">
                            <a class="item" href="./signup.html">注册</a>
                        </div>
                    </div>
                    <div class="ui right floated secondary menu">
                        <div class="inverted secondary pointing ui menu">
                            <a class="item" href="./login.html">登录</a>
                        </div>
                    </div>
                </div>
                <div class="bar ui large secondary network menu center">
                    <a id="fontLogo" class="center">
                        <img src="../public/images/fontlogo.png" alt="社社相关" height=42 width=120>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mainpage">
        <div class="bar mainpage">
            <div class="insideMainpageBar">
                <div class="ui two column center aligned stackable divided grid">
                    <div class="column">
                        <button class="ui button">活动</button>
                    </div>
                    <div class="column">
                        <button class="ui button">社团</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clubManger">
            <div class="ui grid">
                <div class="left floated twelve wide column">
                    <div class="ui page grid stackable relaxed feature segment">
                        <div class="fourteen wide column">
                            <div class="ui comments">
                                <h2 class="ui dividing header">评论区</h2>
                                <div class="metadata">
                                </div>
                                <div class="comment">
                                    <div class="content">
                                        <a class="author">第三次活动</a>
                                        <div class="metadata">
                                            <span class="date">今天 17:42</span>
                                        </div>
                                        <div class="text">
                                            对于社团看到的评论，是谁评论不重要，要显示出是哪一次活动的评论
                                        </div>
                                        <div class="actions">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="content">
                                        <a class="author">第二次活动</a>
                                        <div class="metadata">
                                            <span class="date">昨天 12:42</span>
                                        </div>
                                        <div class="text">
                                            <p>如已有回复直接覆盖</p>
                                        </div>
                                        <div class="actions">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                    <div class="comments">
                                        <div class="comment">
                                            <div class="content">
                                                <a class="author">不想写作业社</a>
                                                <div class="metadata">
                                                    <span class="date">今天13:21</span>
                                                </div>
                                                <div class="text">
                                                    Elliot you are always so right :)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="content">
                                        <a class="author">第一次活动</a>
                                        <div class="metadata">
                                            <span class="date">前天13:21</span>
                                        </div>
                                        <div class="text">
                                            Dude, this is awesome. Thanks so much
                                        </div>
                                        <div class="actions">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right floated four wide column">
                    <div class="ui animated selection list">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="../public/images/jenny.jpg">
                            </div>
                            <div class="content">
                                <a class="header" href="./clubManager.html">不想写作业社</a>
                            </div>
                        </div>
                        <div class="ui section divider"></div>
                        <div class="item">
                            <a href="./newEvent.html">发布新活动</a>
                        </div>
                        <div class="item">
                            <a href="./manageEvent.html">管理活动</a>
                        </div>
                        <div class="item">
                            <a href="modifyClubData.html">完善社团资料</a>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>
