doctype html
html(prefix='og: http://ogp.me/ns#', lang='en')
  head
    meta(charset='UTF-8')
    title 欢迎加入社社相关
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/semantic.css')
    script(src='/javascripts/jquery-1.11.2.js')
    script(src='/javascripts/semantic.js')
    meta(http-equiv='content-language', content='en')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
      body {
      background-color: #104579;
      }
      .fr_form-bg {
      padding-bottom: 50px;
      }
      .logo {
      position: fixed;
      left: 100px;
      top: 200px;
      }
      .logo .column p {
      color: white;
      }
  body
    .logo
      img(src='/images/fontlogo3.png', alt='社社相关')
      .column
        h2.ui.inverted.header &nbspHi&nbsp!&nbsp&nbspWelcome To SSXG&nbsp!
        p.ui.inverted &nbsp&nbspSign Up&nbsp!&nbspFor More Infomation&nbsp!
    .row
      .fr_form-bg.fr_content_6
        #form_content.fr-widget.fr-grid.fr_content
          h1 注册
          .column
            .ui.form.segment
              form.loginForm(method='post', action='/signup')
                .field
                  label 真实姓名
                  .ui.left.icon.input
                    input(type='text', placeholder='', required='required', name='realName')
                    i.info.icon
                .field
                  label 用户名
                  .ui.left.icon.input
                    input(type='text', required='required')
                    i.user.icon(name='username')
                .field
                  label 邮箱
                  .ui.left.icon.input
                    input(type='email', required='required', name='email')
                    i.mail.icon
                .field
                  label 手机号
                  .ui.left.icon.input
                    input(type='tel', required='required', maxlength='11', name='phoneNumber')
                    i.call.icon
                .field
                  label 密码
                  .ui.left.icon.input
                    input(type='password', required='required', name='password')
                    i.lock.icon
                button.negative.ui.button.fluid(type='submit', value='登陆') 注册
                .ui.horizontal.divider
                  | 或者
                .center.aligned.column
                  a(href='/login')
                    .center.green.ui.labeled.icon.button
                      i.paragraph.icon
                      | 										登陆